<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Vehicle - <%= result[0].vehicle_id %></title>
</head>
<body>
<h1>Vehicle Specifications</h1>
<ul>
    <li>Manufacturer: <%= result[0].name %></li>
    <li>Model: <%= result[0].model %></li>
    <li>Model Year: <%= result[0].model_year %></li>
    <li>Price (USD): <%= result[0].price %></li>
    <li>Horsepower: <%= result[0].horsepower %></li>
    <li>Torque (lb/ft): <%= result[0].torque %></li>
    <li>Curb Weight (lbs): <%= result[0].curb_weight %></li>
    <li>Miles Per Gallon: <%= result[0].mpg %></li>
    <li>Number of Cylinders: <%= result[0].cylinders %></li>

</ul>

</body>

</html>